@* <ul class="navbar-nav">
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <li class="nav-item d-flex align-items-center me-3">
        <span class="text-dark fw-bold"><i class="bi bi-person-circle text-primary"></i> Chào, @User.Identity.Name!</span>
    </li>
    <li class="nav-item d-flex align-items-center">
        <form class="form-inline m-0" asp-controller="Auth" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm rounded-pill fw-bold px-3">Đăng xuất</button>
        </form>
    </li>
}
else
{
    <li class="nav-item d-flex align-items-center">
        <a class="btn btn-primary btn-sm rounded-pill fw-bold px-4" asp-controller="Auth" asp-action="Login">Đăng nhập</a>
    </li>
}
</ul> *@